<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <img
          class="logo"
          src="{{ url_for('static', filename='images/instagram-logo.png') }}"
          alt="Instagram Logo"
        />

        <form action="/login" method="post">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Log In</button>
        </form>
        <p class="or">OR</p>
        <a href="#">Forgot Password?</a>
      </div>
      <div class="signup-box">
        <p>Don't have an account? <a href="#">Sign up</a></p>
      </div>
    </div>
  </body>
</html>
